/* Transitions */
.scale, .scale.ng-enter, .scale.ng-leave {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
	-webkit-overflow-scrolling: touch;
	-webkit-perspective: 1000;
	-webkit-transform-style: flat;
	-webkit-transition: all .4s ease-in-out;
	overflow: auto;
}

/* Scale */
.scale.ng-enter {
  	-webkit-transform: scale(.7);
  	opacity: 0;
} /* starting animations for enter */

.scale.ng-enter-active {
  	-webkit-transform: scale(1);
  	opacity: 1;
} /* terminal animations for enter */

.scale.ng-leave {
  	-webkit-transform: scale(1);
  	opacity: 1;
} /* starting animations for leave */

.scale.ng-leave-active {
  	-webkit-transform: scale(.7);
  	opacity: 0;
} /* terminal animations for leave */