/* Transitions */
.scale, .slide, .overlay {
	display: block;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transform: translate3d(0,0,0);
	-webkit-overflow-scrolling: touch;
	overflow: auto;
}

/* Scale */
.scale.ng-enter {	
	-webkit-animation: scaleDown .7s ease both;
}

.scale.ng-enter-active {
	-webkit-animation: scaleUp .7s ease both;
}

.scale.ng-leave {
	-webkit-animation: scaleUp .7s ease both;
}

.scale.ng-leave-active {
	-webkit-animation: scaleDown .7s ease both;
}

@-webkit-keyframes scaleDown {
	to { opacity: 0; -webkit-transform: scale(.8); }
}

@-webkit-keyframes scaleUp {
	from { opacity: 0; -webkit-transform: scale(.8); }
}

@-webkit-keyframes scaleUpDown {
	from { opacity: 0; -webkit-transform: scale(1.2); }
}

@-webkit-keyframes scaleDownUp {
	to { opacity: 0; -webkit-transform: scale(1.2); }
}

@-webkit-keyframes scaleDownCenter {
	to { opacity: 0; -webkit-transform: scale(.7); }
}

@-webkit-keyframes scaleUpCenter {
	from { opacity: 0; -webkit-transform: scale(.7); }
}





/* Slide Horizontal */
.slide.ng-enter {	
	-webkit-transform: translateX(100%);
}

.slide.ng-enter-active {
	-webkit-transform: translateX(0%);
}

.slide.ng-leave {	
	-webkit-transform: translateX(0%);
}

.slide.ng-leave-active {	
	-webkit-transform: translateX(100%);
}

/* Overlay */
.animate-show {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    opacity: 1;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    display: block !important;
}

.animate-show.ng-hide {
    opacity: 0;
}