*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	outline: none;
	border: none;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

input, textarea, button {
	font-family: 'open_sansregular';
	font-size: 0.9em;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

body, html {
	font-family: 'open_sansregular';
	color: #434a4f;
	height: 100%;
	overflow: hidden;
	-webkit-text-size-adjust: none;
	background: #c7c7c7;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

p {
	padding-bottom: 1em;
}

h1 {
	padding: 1em;
	text-align: center;
	font-size: 1.3em;
}

button, .button {
	position: relative;
	display: block;
	padding: 1em 0.5em;
	margin: 1em 0;
	color: #fff;
	text-transform: uppercase;
	text-align: left;
	width: 100%;
	cursor: pointer;
}

a.button {
	font-size: 0.9em;
}

button.inline, .button.inline {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: auto;
}

#branding-bar {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 2;
	height: 40px;
	width: 100%;
	padding: 0 1em;
	background: #f18425;	
}

.small {
	font-size: 80%;
}

.type {
	position: absolute;
	right: 15%;
	top: 50%;
	min-width: 50px;
	text-align: center;
	margin-top: -1em;
	padding: 0.25em 0;
	text-transform: uppercase;
}

.element-invisible {
	position: absolute;
	left: -1000em;
}

#main, #station-list, #station-map, #outage-list {
	padding: 145px 1em 50px 1em;
	background-color: #c7c7c7;
}

#station-list, #outage-list {
	padding: 125px 1em 50px 1em;
}

#main {
	padding: 90px 1em 50px 1em;
}

nav, nav#nav-hidden {
	position: absolute;
	z-index: 2;
	top: 0 !important;
	left: 0;
	padding: 1em 15% 1em 1em;
	width: 100%;
	background: rgba(0,0,0,0.75);
	color: #fff;
	font-size: 0.9em;
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	transition: transform 0.5s ease-in-out;
	-webkit-transform: translate3d(0,0px,0) !important;
	transform: translate3d(0,0px,0) !important;
}

nav#nav-visible {
	-webkit-transform: translate3d(0,70px,0) !important;
	transform: translate3d(0,70px,0) !important;
}

nav > span[class^='icon-'] {
	margin-right: 0.5em;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

#main {
	background: transparent url(../img/home-back.jpg) center center no-repeat;
	background-size: cover;
}

#content {
	background: rgba(0,0,0,0.5);
	z-index: 300;
}

#main-menu {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 100;
	background: orange;
	padding: 1em;
	display: none;
}

#handle {
	position: fixed;
	top: -100%;
	left: 0;
	z-index: 4;
	width: 100%;
	height: 100%;
	background: #f18425;
	cursor: pointer;
	padding: 4em 1em 1em 1em;
	-webkit-transition: top 0.1s linear;
	transition: top 0.1s linear;
}

#handle.open {
	top: 0;
}

#handle.close {
	top: -100%;
}

#handle .inner {
	-webkit-overflow-scrolling: touch;
	overflow: auto;
	width: auto;
	height: 100%;
	max-height: 95%;
}

.no-transition {
	-webkit-transition: none !important;
	transition: none !important;
}

#search-bar {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
	background: blue url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIW2N88ODBfwAI6QOhHB04FwAAAABJRU5ErkJggg==) left top repeat-x;
	width: 100%;
	height: 70px;
}

#search-area {
	position: absolute;
	top: 0;
	z-index: 1;
	background: red;
	width: 100%;
	height: 70px;
	-webkit-transition: all 300ms linear 0.5s;
	transition: all 300ms linear 0.5s;
	-webkit-transform: translate3d(0em,0,0);
	transform: translate3d(0em,0,0);
}

#search-area.visible {
	-webkit-transform: translate3d(2em,0,0);
	transform: translate3d(2em,0,0);
}

#search-text {
	width: 100%;
	height: 70px;
	font-size: 1em;
	padding: 0 1em;
	color: #353c41;
	background: transparent;
}

.arrow-back {
	position: absolute;
	left: -15px;
	top: 0px;
	width: 30px;
	height: 70px;
	z-index: 4;
	background: transparent;
	display: block;
	text-align: left;
}

.arrow-back:before {
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -15px;
	width: 0; 
	height: 0; 
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent; 
	border-right: 15px solid #f18525;	
}

#btn-target {
	position: fixed;
	z-index: 30;
	right: 15%;
	top: 0;
	font-size: 23px;
	color: #c7c7c7;
	height: 70px;
	max-height: 70px;
	overflow: hidden;
	width: 50px;
	margin: 0;
	padding: 0;
	background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIW2N88ODBfwAI6QOhHB04FwAAAABJRU5ErkJggg==) left top repeat-x;
	text-align: center;
}

#btn-target .icon-target {
	margin-right: 0;
	margin-top: 6px;
}

#search-button {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 30;
	height: 70px;
	width: 15%;
	background: #f18425;
	text-align: center;
	padding: 0;
	margin: 0;
}

.rounded {
	background: none;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: solid 1px #f18525;
	color: #fff;
}

.rounded.orange {
	border-color: #f18525;
}

.rounded.blue {
	border-color: #66e2f1;
}

.rounded.white {
	border-color: #fff;
}

.rounded.icon {
	overflow: hidden;
}

.rounded.icon:before {
	content: '';
	position: absolute;
	left: 40px;
	top: 0;
	height: 100%;
	width: 0;
	border-right: inherit;
}

*[id^='btn-'] span[class^='icon-']  {
	display: inline-block;
	margin-right: 1.5em;
	width: 25px;
	text-align: center;
}

*[id^='btn-']:active {
	background: rgba(0, 0, 0, 0.5);
}

*[id^='btn-'].small:active {
	background: rgba(255, 255, 255, 0.25);
}

.divider {
	display: block;
	width: 100%;
	height: 1px;
	background: rgba(255, 255, 255, 0.5);
	margin: 0.5em 0;
}

.item {
	margin-top: 0.5em;
}

.item.list {
	background: #fff;
	cursor: pointer;
	padding: 1em;
	clear: both;
}

.item.list a:link, .item.list a:visited, .item.list a:hover {
	color: #f18425;
}

.item.detail {
	background: none;
	cursor: text;
}

.item-options {
	position: relative;
	display: block;
	background: #fff;
	border-top: solid 1px #c7c7c7;
	font-size: 75%;
	clear: both;
}

.item-options span[class^="icon-"] {
	color: #ff7800;
}

.item-options a {
	padding: 1em 0;	
	border-left: none;
	display: inline-block;
	color: #434a4f;
}

.item-options > div {
	float: left;	
	text-align: center;	
	width: 38%;
	margin-left: 0;
	margin-right: -100em;
	border-left: none;
	display: block;
}

.item-options > div + div {
	width: 24%;
	margin-left: 38%;
	border-left: solid 1px #c7c7c7;	
}

.item-options > div + div + div {
	margin-left: 62%;
	width: 38%;
}

.ng-modal-dialog .item-options > div {
	width: 50%;
}

.ng-modal-dialog .item-options > div + div {
	margin-left: 50%;
}

.arrow-list {
	list-style: none;
}

.arrow-list li {
	position: relative;
	padding-left: 20px;
	vertical-align: top;
	margin: 0.5em 0;
}

.arrow-list li:before {
	position: absolute;
	left: 0;
	top: 6px;
	font-family: 'icomoon';
	font-size: 12px;
	content: "\e602";
	color: #703e11;
}

.arrow-list a {
	color: #fff;
}

.size-32 {
	font-size: 32px;
}

.size-16 {
	font-size: 16px;
}

.size-22 {
	font-size: 22px;
}

#station-details {
	position: fixed;
	z-index: 15;
	bottom: -100%;
	left: 0;
	background: #fff;
	width: 100%;
	-webkit-transition: -webkit-transform 500ms linear;
	transition: transform 500ms linear;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

#station-details .item {
	margin-top: 0;
}

#station-details.show, #station-details.ng-show {
	position: fixed;
	z-index: 15;
	bottom: 40px;
	left: 0;
	background: #fff;
	width: 100%;
	-webkit-transition: -webkit-transform 500ms linear;
	transition: transform 500ms linear;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

iframe[id*="twitter-widget-"] { 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
	max-height: 100%;
}

.circle {
	border-radius: 50%;
	width: 0.8em;
	height: 0.8em;
	display: inline-block;
}

.circle.green { background: #64af00;}
.circle.yellow { background: #fff200;}
.circle.red { background: #ed1c24;}


#map_canvas{
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    height: 100%;
}

@-webkit-keyframes spin {
	to { -webkit-transform: rotate(1turn); }
}

@keyframes spin {
	to { transform: rotate(1turn); }
}

.progress {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1100;
	display: block;
	width: 5em;
	height: 5em;
	margin: 0.5em;
	margin-left: -2.5em;
	font-size: 6px;
	text-indent: 999em;
	overflow: hidden;
	-webkit-animation: spin 1s infinite steps(8);
	animation: spin 1s infinite steps(8);
}

.progress:before,
.progress:after,
.progress > div:before,
.progress > div:after {
	content: '';
	position: absolute;
	top: 0;
	left: 2.25em;
	width: .5em;
	height: 1.5em;
	border-radius: .2em;
	background: #eee;
	box-shadow: 0 3.5em #eee;
	-webkit-transform-origin: 50% 2.5em;
	transform-origin: 50% 2.5em;
}

.progress:before {
	background: #555;
}

.progress:after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background: #777;
}

.progress > div:before {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	background: #999;
}

.progress > div:after {
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
	background: #bbb;
}

.ng-modal-overlay {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
}

.ng-modal-dialog {
	z-index: 101;
	position: absolute;
	width: 90%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background: #fff;
}

.ng-modal-dialog-content {
	text-align: center;
}

.ng-modal-dialog-content .description {
	padding: 1em 1em 0 1em;
}

#energy-logo, img#text-logo {
	margin-top: 5px;
	float: right;
}

#energy-logo img, img#text-logo {
	height: 30px;
	width: auto;
}

img#text-logo {
	float: left;
}