*, *:before, *:after {
	padding: 0;
	margin: 0;
	outline: none;
	border: none;
	text-decoration: none;
	-webkit-box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
}

input, textarea, button {
	font-family: 'open_sansregular';
	font-size: 0.9em;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

body, html {
	font-family: 'open_sansregular';
	color: #434a4f;
	height: 100%;
	overflow: hidden;
	background: #c7c7c7;
	-webkit-text-size-adjust: none;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

p {
	padding-bottom: 1em;
}

h1 {
	padding: 1em;
	text-align: center;
	font-size: 1.3em;
}

button, .button {
	position: relative;
	display: block;
	padding: 1em 0.5em;
	margin: 1em 0;
	color: #fff;
	text-transform: uppercase;
	text-align: left;
	width: 100%;
	cursor: pointer;
}

a.button {
	font-size: 0.9em;
}

button.inline, .button.inline {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: auto;
}

#branding-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 20;
	height: 40px;
	width: 100%;
	padding: 0 1em;
	background: #f18425;	
}

.small {
	font-size: 80%;
}

.type {
	position: absolute;
	right: 15%;
	top: 50%;
	min-width: 50px;
	text-align: center;
	margin-top: -1em;
	padding: 0.25em 0;
	text-transform: uppercase;
}

.element-invisible {
	position: absolute;
	left: -1000em;
}

#main, #station-list, #station-map, #outage-list {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 145px 1em 50px 1em;
	background: #c7c7c7;
	overflow: auto;	
	-webkit-overflow-scrolling: touch;
}

#station-list, #outage-list {
	padding: 125px 1em 50px 1em;
}

#main {
	padding: 75px 1em 50px 1em;
}

#tips-guides {
	position: fixed;
	top: 100%;
	z-index: 1000;
	width: 100%;
	height: 100%;
	display: block;
	background: #fff;
	overflow: hidden;
}

nav, nav#nav-hidden {
	position: absolute;
	z-index: 2;
	top: 0 !important;
	left: 0;
	padding: 1em 15% 1em 1em;
	width: 100%;
	background: rgba(0,0,0,0.75);
	color: #fff;
	font-size: 0.9em;
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	-webkit-transform: translate3d(0,0,0) !important;
}

nav#nav-visible {
	-webkit-transform: translate3d(0,70px,0) !important;
}

nav > span[class^='icon-'] {
	margin-right: 0.5em;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

#main {
	background: transparent url(../img/home-back.jpg) no-repeat center center;
	background-size: cover;
}

#content {
	background: rgba(0,0,0,0.5);
	z-index: 300;
}

#main-menu {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 100;
	background: orange;
	padding: 1em;
	display: none;
}

#handle {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
	width: 100%;
	height: 100%;
	background: #f18425;
	cursor: pointer;
	padding: 4em 1em 1em 1em;
	-webkit-transition: -webkit-transform 500ms ease-in-out;
	-webkit-transform: translate3d(0,-100%,0);
}

#handle.open {
	-webkit-transform: translate3d(0,0,0);
}

#handle.close {
	-webkit-transform: translate3d(0,-100%,0);
}

#handle .inner {
	overflow: auto;
	width: auto;
	height: 100%;
	max-height: 95%;
	-webkit-overflow-scrolling: touch;
}

#search-bar {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 5;
	border-top: solid 1px #e0e0e0;
	background: #fff;
	height: 70px;
	width: 100%;
}

#search-area {
	background: transparent;
	width: 100%;
	height: inherit;
	-webkit-transition: -webkit-transform 300ms linear 0.5s;
	-webkit-transform: translate3d(0em,0,0);
}

#search-area.visible {
	-webkit-transform: translate3d(2em,0,0);
}

#search-options {
	position: fixed;
	top: 0;
	right: 0;
	height: 70px;
}

#search-options > * {
	float: left;
}

#search-text {
	position: relative;
	z-index: 0;
	width: 100%;
	height: inherit;
	font-size: 1em;
	padding: 0 50px 0 1em;
	color: #353c41;
	background: transparent;
	-webkit-user-modify: read-write-plaintext-only;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.icon-arrow2-left, .icon-arrow2-right {
	color: #f18525;
}

#frame-nav a:link, #frame-nav a:visited, #frame-nav:hover {
	color: #f18525;
	font-size: 24px;
}

#tipsguidesframe  {
	position: absolute;
	height: 100%;
	width: 100%;
	padding-top: 44px;
}

.arrow-back {
	position: absolute;
	left: -20px;
	top: 21px;
	height: inherit;
	z-index: 4;
	background: transparent;
	display: block;
	font-size: 24px;
}

#btn-target, #btn-search, #btn-clear {
	font-size: 23px;
	color: #c7c7c7;
	overflow: hidden;
	width: 35px;
	height: inherit;
	margin: 0;
	padding: 0;
	border-top: solid 1px #e0e0e0;
	background: #fff;
	text-align: center;
}

#btn-target .icon-target, #btn-search .icon-search, #btn-clear .icon-close {
	margin-right: 0;
	margin-top: 6px;
}

#btn-lantern {
	width: 50px;
	height: inherit;
	background: #f18425;
	text-align: center;
	padding: 0;
	margin: 0;
}

.rounded {
	background: none;
	border: solid 1px #f18525;
	color: #fff;
	-webkit-border-radius: 5px;
}

.rounded.orange {
	border-color: #f18525;
}

.rounded.blue {
	border-color: #66e2f1;
}

.rounded.white {
	border-color: #fff;
}

.rounded.icon {
	overflow: hidden;
}

.rounded.icon:before {
	content: '';
	position: absolute;
	left: 40px;
	top: 0;
	height: 100%;
	width: 0;
	border-right: inherit;
}

*[id^='btn-'] span[class^='icon-']  {
	display: inline-block;
	margin-right: 1.5em;
	width: 25px;
	text-align: center;
}

*[id^='btn-']:active {
	background: rgba(0, 0, 0, 0.5);
}

*[id^='btn-'].small:active {
	background: rgba(255, 255, 255, 0.25);
}

.divider {
	display: block;
	width: 100%;
	height: 1px;
	background: rgba(255, 255, 255, 0.5);
	margin: 0.5em 0;
}

.item {
	margin-top: 0.5em;
}

.item.list {
	background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIW2M8fvz4fwAICANWsSb9pwAAAABJRU5ErkJggg==) repeat-x left bottom;
	padding: 1em;
	clear: both;
	pointer-events: none;
}

.item.list a:link, .item.list a:visited, .item.list a:hover {
	color: #f18425;
}

.item.detail {
	background: none;
	cursor: text;
}

.item-options {
	position: relative;
	display: block;
	background: #fff;
	font-size: 75%;
	clear: both;
}

.item-options span[class^="icon-"] {
	color: #ff7800;
}

.item-options a {
	padding: 1em 0;
	display: block;
	color: #434a4f;
}

.item-options > div {
	float: left;	
	text-align: center;	
	width: 38%;
	height: 40px;
	margin-left: 0;
	margin-right: -100em;
	display: inline-block;
}

.item-options > div + div {
	width: 24%;
	margin-left: 38%;
	background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIW2M8fvz4fwAICANWsSb9pwAAAABJRU5ErkJggg==) repeat-y left top;
}

.item-options > div + div + div {
	margin-left: 62%;
	width: 38%;
}

.ng-modal-dialog .item-options > div {
	width: 50%;
}

.ng-modal-dialog .item-options > div + div {
	margin-left: 50%;
}

.arrow-list {
	list-style: none;
}

.arrow-list li {
	position: relative;
	padding-left: 20px;
	vertical-align: top;
	margin: 0.5em 0;
	color: #fff;
	font-size: 0.7em;
}

.arrow-list li:before {
	position: absolute;
	left: 0;
	top: 3px;
	font-family: 'icomoon';
	font-size: inherit;
	content: "\e603";
	color: #703e11;
}

.arrow-list a {
	color: #fff;
}

.size-32 {
	font-size: 32px;
}

.size-22 {
	font-size: 22px;
}

#station-details {
	position: fixed;
	z-index: 15;
	top: 100%;
	left: 0;
	background: #fff;
	width: 100%;
	height: 130px;
	-webkit-transition: -webkit-transform 500ms ease-in-out;
}

#station-details .item {
	margin-top: 0;
}

#station-details.show {
	-webkit-transform: translate3d(0,-170px,0);
}

iframe[id*="twitter-widget-"] { 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
	max-height: 100%;
}

.circle {
	border-radius: 50%;
	width: 0.8em;
	height: 0.8em;
	display: inline-block;
}

.circle.green { background: #64af00;}
.circle.yellow { background: #fff200;}
.circle.red { background: #ed1c24;}


#map_canvas{
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    height: 100%;
}

@-webkit-keyframes spin {
	to { -webkit-transform: rotate(1turn); }
}

.progress {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1100;
	display: block;
	width: 5em;
	height: 5em;
	margin: 0.5em;
	margin-left: -2.5em;
	font-size: 6px;
	text-indent: 999em;
	overflow: hidden;
	-webkit-animation: spin 1s infinite steps(8);
}

.progress:before,
.progress:after,
.progress > div:before,
.progress > div:after {
	content: '';
	position: absolute;
	top: 0;
	left: 2.25em;
	width: .5em;
	height: 1.5em;
	border-radius: .2em;
	background: #eee;
	box-shadow: 0 3.5em #eee;
	-webkit-transform-origin: 50% 2.5em;
}

.progress:before {
	background: #555;
}

.progress:after {
	-webkit-transform: rotate(-45deg);
	background: #777;
}

.progress > div:before {
	-webkit-transform: rotate(-90deg);
	background: #999;
}

.progress > div:after {
	-webkit-transform: rotate(-135deg);
	background: #bbb;
}

.ng-modal {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	display: block;
}

.ng-modal-dialog {
	position: absolute;
	z-index: 101;
	width: 90%;
	top: 50%;
	left: 50%;
	background: #fff;
	-webkit-transform: translate(-50%, -50%);
}

.ng-modal-dialog-content {
	text-align: center;
}

.ng-modal-dialog-content .description {
	background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIW2M8fvz4fwAICANWsSb9pwAAAABJRU5ErkJggg==) repeat-x left bottom;
	padding: 1em 1em 0 1em;
}

#energy-logo, img#text-logo {
	margin-top: 5px;
	float: right;
}

#energy-logo img, img#text-logo {
	height: 30px;
	width: auto;
}

img#text-logo {
	float: left;
}

button#back, button#forward, a#return {
	position: relative;
	top: 0;
	width: 32px;
	height: auto;
	display: inline-block;
}

#tips-container {
	position: absolute;
	height: 100%;
	width: 100%;
	display: block;
	background: #fff;
	overflow: hidden;
}

#frame-nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	background: #000;
	top: 0;
	height: 44px;
	width: 100%;
}

#frame-content {
	background: #fff;
	width: 100%;
	height: 100%;
	overflow: auto;	
	-webkit-overflow-scrolling: touch;
}

#contentframe {
	position: relative;
	width: 100%;
}

.slide {
	-webkit-transition: -webkit-transform 500ms ease-in-out;
	-webkit-transform: translate3d(0,-100%,0);	
	-webkit-background-visibility: hidden;
}
 
.slide.ng-enter {
	-webkit-transform: translate3d(0,100%,0);
}

.slide.ng-enter.ng-enter-active {
	-webkit-transform: translate3d(0,0,0);
}

.slide.ng-leave.ng-leave-active {
	-webkit-transform: translate3d(0,0,0);
}

.fixed.ng-enter, .fixed.ng-leave, .fixed.ng-leave-active, .fixed.ng-enter-active {
	-webkit-transition: -webkit-transform 1s ease-in-out 1s;
	-webkit-transform: translate3d(0,0,0);
}