<div id="about-container">
	<div id='frame-nav'>
		<a id='return' href='#/'><span class='icon-close'></span></a>
		<span id='title'><span class='icon-lantern'></span>About Lantern Live</span>
	</div>
	<div id='frame-content' class="about">
		<p>In response to lessons learned from Hurricane Sandy, the Energy Department saw the need for developing an app that could provide essential information in real-time during crises. Created through Federal multidisciplinary collaboration, Lantern Live helps lay the groundwork for emerging best practices of mobile app development across the Federal government.</p>
		<p>With the launch of Lantern Live, the Energy Department is testing the power of crowdsourcing and open data in disaster and recovery. Plans for upcoming releases include the ability to crowdsource information on the status of gas stations and photos of downed power lines via standardized hashtags for social media. Lantern Live’s code will be open source, allowing technology innovators and entrepreneurs to reuse the code in their own apps, explore new opportunities for other sectors and applications, and further leverage the power of open data.</p>
		<p>From the beginning, the Department’s intent has been to develop Lantern Live as a pilot to spur innovators to take it to the next level. Potential collaborators in the private and public sectors are encouraged to contact the Lantern Live development team at <a href="mailto:Lanternlivebeta@hq.doe.gov">Lanternlivebeta@hq.doe.gov</a> to learn more.</p>
	</div>
</div>