<div class="progress" ng-show="loading"><div>Loading…</div></div>
<div id="frame-footer" class="text-center">
	<a href="" ng-click="searchAgain()" class="left"><span class="icon-search" aria-hidden="true"></span> New Search</a>
	<a href="" ng-click="searchCurrent()" class="right"><span class="icon-target" aria-hidden="true"><span class="element-invisible">Current Location</span></span></a>
</div>
<div id="alternative-container"><div id='frame-nav'><a id='return' href='#/'><span class='icon-close'></span></a><span id='title'><span class='icon-plug'></span>Alternative Fuel Stations</span></div><div id='frame-content'><outageframe id="outage-map" class="frame" title="Outage Map" src="{{src}}">Alternative Fueling Stations</outageframe></div></div></div>