<a id="btn-find-stations" href="#/station-list" class="button rounded icon orange"><span class="icon-gas" aria-hidden="true"></span>Find Gas Stations</a>
<a id="btn-outages-maps" href="#/outage-list" class="button rounded icon orange"><span class="icon-lightning" aria-hidden="true"></span>View Power Outage Maps</a>
<div class="divider" aria-hidden="true"></div>
<a id="btn-find-alternative-stations" href="#/alternative" class="button rounded icon blue"><span class="icon-plug" aria-hidden="true"></span>Alternative Fuel Stations</a>
<a id="btn-tips-guides" href="#/tips" class="button rounded icon blue"><span class="icon-guide" aria-hidden="true"></span>Tips &amp; Guides</a>