 <progress show="progressShown"><div>LOADING...</div></progress>
<a id="btn-find-stations" href="#/station-list" class="button rounded icon orange"><span class="icon-gas" aria-hidden="true"></span>Find Open Gas Stations</a>
<a id="btn-outages-maps" href="#/outage-list" class="button rounded icon orange"><span class="icon-lightning" aria-hidden="true"></span>See Power Outage Maps</a>
<a id="btn-report" href="#report-powerline" ng-click="camera($event)" class="button rounded icon orange"><span class="icon-camera" aria-hidden="true"></span>Report Downed Powerlines</a>
<div class="divider" aria-hidden="true"></div>
<a id="btn-tips-guides" href="#/tips" class="button rounded icon blue"><span class="icon-guide" aria-hidden="true"></span>Read Tips &amp; Guides</a>
<a id="btn-twitter" href="#/twitter" ng-click="toggleModal($event)" class="button rounded icon blue"><span class="icon-twitter" aria-hidden="true"></span>Twitter Feed</a>