<modaldialog ng-show="disclaimerdialog">
	<div class="description text-left">
		<small>
			<h3>Disclaimer</h3>

			<h4>Terms &amp; Conditions for Reporting Downed Power Lines</h4>
			<ol>
				<li>You must be 18 years of age or older to submit a photograph and/or text description.</li>
				<li>This is not a replacement for 911 or calling local fire/EMS/police. If you are in need of emergency assistance, please contact 9-1-1.</li>
				<li>Do not put yourself or any other person or property at risk to use this feature.</li>
				<li>Do not use this feature to report criminal activity.</li>
				<li>By submitting a photograph, you acknowledge that you own the copyright to the photograph and any associated text description and grant DOE a non-exclusive, royaltyfree, unconditional, world-wide license to use, display, and redistribute a copy of the photograph and any text description in any format to any entity.</li>
				<li>DOE reserves the right to modify this policy at any time.</li>
			</ol>

			<br />

			<h4>Content Guidelines</h4>
			<ol><li>Only images of damaged electric poles and power lines in the United States will be accepted.</li>
				<li>All photographs must be geo-tagged.</li>
				<li>All content is moderated.</li>
			</ol>

			<br />
			
			<h4>Content (Photographs &amp;Text Descriptions) That Will Not Be Accepted</h4>
			<ol><li>Content that is not disaster-related and/or off-topic.</li>
				<li>Content that includes abusive or vulgar language, hate speech, personal attacks, or similar content.</li>
				<li>Content that includes personal information such as: social security number, identifiable addresses, and automobile license plates.</li>
				<li>Content that promotes any commercial entities or products, or contains information on fundraising campaigns or partisan political activity.</li>
				<li>Content that violates any person’s reasonable expectation of privacy or other privacy interest, including, but not limited to, people on private property, children, interiors of homes, deceased or injured persons, and interiors of hospitals or other medical facilities.</li>
			</ol>
		</small>
	</div>
    <div class="item-options">
    	<div>
    		<div class="span-50"><a href="" ng-click="closeDialog('disclaimer',true)">Ok</a></div>
			<div class="span-50"><a href="" ng-click="closeDialog('disclaimer',false)">Cancel</a></div>
    	</div>
    </div>
</modaldialog>
<a id="btn-find-stations" href="#/station-list" class="button rounded icon orange"><span class="icon-gas" aria-hidden="true"></span>Find Gas Stations</a>
<a id="btn-outages-maps" href="#/outage-list" class="button rounded icon orange"><span class="icon-lightning" aria-hidden="true"></span>View Power Outage Maps</a>
<a id="btn-report" href="" ng-click="openDialog('disclaimer',null)" class="button rounded icon orange"><span class="icon-camera" aria-hidden="true"></span>Report Downed Powerlines</a>
<div class="divider" aria-hidden="true"></div>
<a id="btn-find-alternative-stations" href="#/alternative" class="button rounded icon blue"><span class="icon-plug" aria-hidden="true"></span>Alternative Fuel Stations</a>
<a id="btn-tips-guides" href="#/tips" class="button rounded icon blue"><span class="icon-guide" aria-hidden="true"></span>Tips &amp; Guides</a>
<a id="btn-twitter" href="https://twitter.com/ENERGY" class="button rounded icon blue" target="_blank"><span class="icon-twitter" aria-hidden="true"></span>Follow @ENERGY on Twitter</a>
<a id="btn-mail" href="mailto:lanternlivebeta@hq.doe.gov?subject=Beta-Test%20Feedback" class="button rounded icon blue"><span class="icon-email" aria-hidden="true"></span>Email Beta-Test Feedback</a>
