<modaldialog>
	<div class="description text-left">
		<small>
			<h3>Note</h3>
			<p>Not all electricity providers have publicily avaliable outage maps. The list shown are providers in the given location above with available outage maps known to DOE. Please contact <a href="mailto:LanternApp@Doe.gov">LanternApp@Doe.gov</a> for any corrections and/or additions.</p>
		</small>
	</div>
    <div class="item-options">
    	<div>
			<div><a href="" ng-click="closeDialog()">Close</a></div>
    	</div>
    </div>	
</modaldialog>
<div class="outages">
    <div ng-repeat="outage in outages">
    	<div class="item list">
	        <h4>{{isExists(outage.commericial_company_name) ? outage.commericial_company_name : outage.utility_company_name}}</h4>
	        {{outage.county}} County, {{outage.state}}<br />
	        <a href="" ng-click="getMap($event, outage.outage_map_url)">Open Outage Map</a>
    	</div>
    </div>
</div>