<progress show="progressShown"><div>LOADING...</div></progress>
<div id="station-details" class="{{showdetails}}">
	<div class="item list">
        <h4><span class="circle {{operatingStatus}}"></span> {{station}}</h4>
        <div class="small">
        	{{address}}<br />
        	{{city}}, {{region}} {{zip}}
    	</div>
	</div>
    <div class="item-options">
    	<div><a href="" ng-click="getDirections('http://maps.apple.com/?daddr=' + address + ' ' + city + ', ' + region + ' ' + zip)"><span class="icon-car" aria-hidden="true"></span> Directions</a></div>
    	<div><a><span class="icon-phone" aria-hidden="true"></span> Call</a></div>
    	<div><a href="" ng-click="tagOpenWindow(id, operatingStatus)"><span class="icon-tag" aria-hidden="true"></span> Tag {{operatingStatus == "red" ? "Open" : "Closed"}}</a></div>
    </div>
</div>
<googlemap id="map_canvas"></googlemap>
<modaldialog>
	<div class="description">
		<h3>This Station is {{status == "closed" ? "Closed" : "Open"}}</h3>
		<p>Mark this station as currently {{status == "closed" ? "open or operational" : "closed or unoperational"}}.</p>
	</div>
    <div class="item-options clearfix">
    	<div><a href="" ng-click="tagCancel()">Cancel</a></div>
	    <div><a href="" ng-click="tagStation(stationid, status)"><span class="icon-tag" aria-hidden="true"></span> Tag {{status == "closed" ? "Open" : "Closed" }}</a></div>
    </div>	
</modaldialog>