<div class="stations">
    <div ng-repeat="station in stations">
    	<div class="item list">
	        <h4>{{station.station}}</h4>
	        <div class="small">
	        	{{station.address}}<br />
	        	{{station.city}}, {{station.region}} {{station.zip}}
	    	</div>
    	</div>
	    <div class="item-options clearfix">
    		<div><a href="#directions" ng-click="getDirections('http://maps.apple.com/?daddr=' + station.address + ' ' + station.city + ', ' + station.region + ' ' + station.zip + '&saddr=' + saddr)"><span class="icon-car" aria-hidden="true"></span> Directions</a></div>
	    	<div><a href="tel:"><span class="icon-phone" aria-hidden="true"></span> Call</a></div>
	    	<div><a href="#"><span class="icon-tag" aria-hidden="true"></span> Tag Closed</a></div>
	    </div>
    </div>
</div>