<modaldialog ng-show="show">
	<div class="description">
		<h3>{{title}}</h3>
		<p>Mark gas pumps as currently {{message}}.</p>
	</div>
    <div class="item-options">
    	<div>			
			<div ng-show="status == 'red' || status == 'yellow'"><a href="" ng-click="tagStation(stationid, 'open')"><span class="icon-tag green" aria-hidden="true"></span> Tag Open</a></div>
    		<div ng-show="status == 'green' || status == 'yellow'"><a href="" ng-click="tagStation(stationid, 'closed')"><span class="icon-tag red" aria-hidden="true"></span> Tag Closed</a></div>
    		<div><a href="" ng-click="tagCancel()"><span class="icon-close" aria-hidden="true"></span> Cancel</a></div>
    	</div>
    </div>	
</modaldialog>
<div class="stations" pull-to-refresh="onReload()">
	<div id="legend">
		<div class="left">Results found are in 2.5 mi. radius.</div>
		<div class="right"><span class="icon-green"></span> = <strong>Open</strong> &nbsp; <span class="icon-yellow"></span> = <strong>Uncertain</strong> &nbsp; <span class="icon-red"></span> = <strong>Closed</strong></div>
	</div>
    <div class="station" ng-repeat="station in stations">
    	<div class="item list">
	        <h4><span class="icon-{{station.operatingStatus}}" aria-hidden="true"></span> {{station.station}}</h4>
	        <div class="small">
	        	{{station.address}}<br />{{station.city}}, {{station.region}} {{station.zip}}
	    	</div>
    	</div>
	    <div class="item-options">
	    	<div>
	    		<div><a href="" ng-click="getDirections('http://maps.apple.com/?daddr=' + station.address + ' ' + station.city + ', ' + station.region + ' ' + station.zip)"><span class="icon-car" aria-hidden="true"></span> Directions</a></div>
		    	<!--<div><a href=""><span class="icon-phone" aria-hidden="true"></span> Call</a></div>-->
		    	<div><a href="" ng-click="tagOpenWindow(station.id, station.operatingStatus)"><span class="icon-tag" aria-hidden="true"></span> Tag Status</a></div>
	    	</div>
	    </div>
    </div>
</div>