<div class='ng-dialog' ng-show="dialog">
	<div class='ng-modal-dialog'>
		<div class='ng-modal-dialog-content'>
			<h3>This Station is Closed</h3>
			<p>Mark this station as currently closed or unoperational.</p>
		</div>
	    <div class="item-options clearfix">
    		<div><a href="#close-dialog" ng-click="toggleModal(stationid,$event)">Cancel</a></div>
	    	<div><a href="#tag-closed" ng-click="tagClosed($event)"><span class="icon-tag" aria-hidden="true"></span> Tag Closed</a></div>
	    </div>		
	</div>
</div>
<div id="station-details" class="{{showdetails}}">
	<div class="item list">
        <h4>{{station}}</h4>
        <div class="small">
        	{{address}}<br />
        	{{city}}, {{region}} {{zip}}
    	</div>
	</div>
    <div class="item-options">
    	<div><a href ng-click="getDirections('http://maps.apple.com/?daddr=' + address + ' ' + city + ', ' + region + ' ' + zip)"><span class="icon-car" aria-hidden="true"></span> Directions</a></div>
    	<div><a href="tel:"><span class="icon-phone" aria-hidden="true"></span> Call</a></div>
    	<div><a href ng-click="toggleModal()"><span class="icon-tag" aria-hidden="true"></span> Tag Closed</a></div>
    </div>
</div>
<googlemap id="map_canvas"></googlemap>