<div class="progress" ng-show="loading"><div>Loading…</div></div>
<modaldialog ng-show="show">
    <div class="description">
        <h3>{{title}}</h3>
        <p>Mark gas pumps as currently {{message}}.</p>
    </div>
    <div class="item-options">
        <div>
            <div ng-show="status == 'red' || status == 'yellow'"><a href="" ng-click="tagStation(stationid, 'open')"><span class="icon-tag green" aria-hidden="true"></span> Tag Open</a></div>
            <div ng-show="status == 'green' || status == 'yellow'"><a href="" ng-click="tagStation(stationid, 'closed')"><span class="icon-tag red" aria-hidden="true"></span> Tag Closed</a></div>
            <div><a href="" ng-click="tagCancel()"><span class="icon-close" aria-hidden="true"></span> Cancel</a></div>
        </div> 
    </div>
</modaldialog>
<div id="station-details" class="{{showdetails}}">
	<div class="item list">
        <h4><span class="circle {{operatingStatus}}"></span> {{station}}</h4>
        <div class="small">
        	{{address}}<br />{{city}}, {{region}} {{zip}}
    	</div>
	</div>
    <div class="item-options">
        <div>
    	   <div><a href="" ng-click="getDirections('http://maps.apple.com/?daddr=' + address + ' ' + city + ', ' + region + ' ' + zip)"><span class="icon-car" aria-hidden="true"></span> Directions</a></div>
    	   <!--<div><a><span class="icon-phone" aria-hidden="true"></span> Call</a></div>-->
    	   <div><a href="" ng-click="tagOpenWindow(stationid, operatingStatus)"><span class="icon-tag" aria-hidden="true"></span> Tag Status</a></div>
        </div>
    </div>
</div>
<googlemap id="map_canvas"></googlemap>