<div id="twitter-container">
	<div id='frame-nav'>
		<a id='return' href='#/'><span class='icon-close'></span></a>
		<span id='title'>
			<span class='icon-twitter'></span>Department of Energy
		</span>
	</div>
	<div id='frame-content'>
		<a class="twitter-timeline" data-chrome="noheader nofooter noborders" data-dnt="true" href="https://twitter.com/ENERGY" data-widget-id="438422993098661889"></a>
	</div>
</div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>