<div id="twitter-container">
	<div id='frame-nav'><a id='return' href='#/'><span class='icon-close'></span></a><span id='title'><span class='icon-twitter'></span>Department of Energy</span></div>
	<div id='frame-content'>
		<div class='entry clearfix' ng-repeat="tweet in tweets">
			<div class='message' ng-show="tweet.retweeted_status">
				<a href='https://twitter.com/{{tweet.retweeted_status.user.screen_name}}' class='retweeted small'><span class='icon-retweet' aria-hidden='true'></span>&nbsp;{{tweet.retweeted_status.user.name}}&nbsp;retweeted</a>
				<a href='https://twitter.com/energy/status/{{tweet.id_str}}")' class='time'>{{parseTwitterDate(tweet.retweeted_status.created_at)}}</a>
				<a href='ttps://twitter.com/{{tweet.retweeted_status.user.screen_name}}' class='logo'><img src='{{tweet.retweeted_status.user.profile_image_url}}' alt='{{tweet.retweeted_status.user.name}}' /></a>
				<a href='https://twitter.com/{{tweet.retweeted_status.user.screen_name}}' class='title'>{{tweet.retweeted_status.user.name}} <span class='nickname'>@{{tweet.retweeted_status.user.screen_name}}</span></a>
				<br />
				<div data-ng-bind-html="autoHyperlinkUrls(tweet.retweeted_status.text)"></div>
			</div>
			<div class='block' ng-show="tweet.retweeted_status">
				<div class='right'>
					<a href='https://twitter.com/intent/tweet?in_reply_to={{tweet.retweeted_status.id_str}}'><span class='icon-reply size-22' aria-hidden='true'></span></a>&nbsp;&nbsp;&nbsp;
					<a href='https://twitter.com/intent/retweet?tweet_id={{tweet.retweeted_status.id_str}}'><span class='icon-retweet size-22' aria-hidden='true'></span></a>&nbsp;&nbsp;&nbsp;
					<a href='https://twitter.com/intent/favorite?tweet_id={{tweet.retweeted_status.id_str}}'><span class='icon-favorite size-22' aria-hidden='true'></span></a>
				</div>
			</div>
			<div class='message' ng-hide="tweet.retweeted_status">
				<a href='https://twitter.com/energy/status/{{tweet.id_str}}' class='time'>{{parseTwitterDate(tweet.created_at)}}</a>
				<a href='https://twitter.com/{{tweet.user.screen_name}}' class='logo'><img src='{{tweet.user.profile_image_url}}' alt='{{tweet.user.name}}' /></a>
				<a href='https://twitter.com/{{tweet.user.screen_name}}' class='title'>{{tweet.user.name}} <span class='nickname'>@{{tweet.user.screen_name}}</span></a>
				<br />
				<div data-ng-bind-html="autoHyperlinkUrls(tweet.text)"></div>
			</div>
			<div class='block' ng-hide="tweet.retweeted_status">
				<div class='right'>
					<a href='https://twitter.com/intent/tweet?in_reply_to={{tweet.id_str}}'><span class='icon-reply size-22' aria-hidden='true'></span></a>&nbsp;&nbsp;&nbsp;
					<a href='https://twitter.com/intent/retweet?tweet_id={{tweet.id_str}}'><span class='icon-retweet size-22' aria-hidden='true'></span></a>&nbsp;&nbsp;&nbsp;
					<a href='https://twitter.com/intent/favorite?tweet_id={{tweet.id_str}}'><span class='icon-favorite size-22' aria-hidden='true'></span></a>
				</div>
			</div>
		</div>
	</div>
</div>