<!doctype html>
<html lang="en" ng-app="lanternApp">
<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <link rel="stylesheet" type="text/css" href="css/fonts.css">
    <link rel="stylesheet" type="text/css" href="css/global.css">
    <link rel="stylesheet" type="text/css" href="css/animations.css">
</head>
<body>
    <div id="handle" class="close">
        <div class="inner">
            <br />
            <ul class="arrow-list">
                <li><a href="#" target="_blank">About Lantern</a></li>
            </ul>            
        </div>
        <a id="hamburger" draggable><span class="icon-list" aria-hidden="true"></span></a>
    </div>
    <div id="branding-bar">
        <img id="text-logo" src="img/text-logo.png" alt="Lantern" />
        <a id="energy-logo"><img src="img/energy-logo.png" /></a>
    </div>
    <div id="search-bar" ng-controller="SearchCtrl">
        <div id="search-area">
            <a href="#/" class="arrow-back {{backstate}}" title="Back"></a>
            <input id="search-text" ng-model="address" type="text" placeholder="Enter a Location" />
        </div>
        <button id="search-button" draggable type="button"><span class="icon-lantern size-32" aria-hidden="true"></span></button>
        <button id="btn-target" ng-click="findme()" type="button"><span class="icon-target" aria-hidden="true"></span></button>
    </div>   
    <nav ng-show="navstate">        
        <span class="icon-{{navclass}}" aria-hidden="true"></span>
        <span>{{navtext}}</span>
        <a id="btn-type=" href="#/{{navtarget}}" ng-show="typestate" class="rounded orange small type">{{navbtnlabel}}</a>
    </nav> 
    <div id="{{id}}" ng-view class="{{animate}}"></div>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src='lib/underscore.min.js'></script>
	<script type="text/javascript" src="phonegap.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular-animate.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular-route.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular-touch.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript">app.initialize();</script>
</body>
</html>